body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.leftside {
  display: flex;
  justify-content: space-between;
}
.buttn {
  font-weight: 900;
  background-color: #c6c8d6;
  color: #000;
  border-radius: 7px;
  padding: 0px 25px;
  /* padding: 9px 20px;
  font-size: 15px; */
  border: 2px solid #c6c8d6;
}
.buttn:hover {
  background-color: white;
}
